@{

}

<h4>Create New User</h4>
<form method="POST" action="@Url.Action("Create", "Login")">

	<table>
		<tr><td>Username</td><td><input type="text" maxlength="16" name="username" /></td></tr>
		<tr><td>Password</td><td><input type="text" maxlength="16" name="password01" /></td></tr>
		<tr><td>Re-enter Password</td><td><input type="text" maxlength="16" name="password02" /></td></tr>
		<tr><td colspan="2">
            <button type="submit" class="btn btn-outline-info btn-sm">Create</button>
        </td></tr>
	</table>
	
</form>
