@{
	ViewData["Title"] = "Add Theme";
}

<script>

function OnFileChange() {
    console.log("File Changed");

	const file_selector = document.querySelector("#data_file_selector");
    if (file_selector.files.length === 0) {
        alert("No Intro Info file selected");
        return;
    }

    const selected_file = file_selector.files[0];

    const file_name = selected_file.name.toLowerCase();
    if (file_name.endsWith(".json") === false) { 
        return;
	}

    const reader = new FileReader();
    reader.readAsText(selected_file, "UTF-8");

    reader.onload = (evt) => {
        console.log("Populating form from json file");

        const selected_file_string = evt.target.result;
        try {
            const cp_info_data = JSON.parse(selected_file_string);

			document.querySelector("#series_name").value = cp_info_data.series;
			document.querySelector("#imdb").value = cp_info_data.imdb;
			document.querySelector("#themoviedb").value = cp_info_data.tmdb;
			document.querySelector("#thetvdb").value = cp_info_data.tvdb;
			document.querySelector("#season").value = cp_info_data.season;
			document.querySelector("#episode").value = cp_info_data.episode;
			document.querySelector("#extract_length").value = cp_info_data.extract;
        }
        catch (e) {
            alert("Error parsing Intro Info file :\n" + e);
            return;
        }
    };
}

</script>

<h4>Add Theme</h4>

<form method="POST" action="@Url.Action("AddNewTheme", "Home")" enctype="multipart/form-data">

	<table class="table table-sm">
		<tr>
			<td style="white-space:nowrap">Imdb</td>
			<td style="white-space:nowrap; width:100%;"><input input style="width: 300px;" type="text" name="imdb" id="imdb" class="form-control form-control-sm" /></td>
		</tr>
		<tr>
			<td style="white-space:nowrap">TheMovieDB</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="themoviedb" id="themoviedb" class="form-control form-control-sm" /></td>
		</tr>
		<tr>
			<td style="white-space:nowrap">TheTvDB</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="thetvdb" id="thetvdb" class="form-control form-control-sm" /></td>
		</tr>

		<tr>
			<td style="white-space:nowrap">Series Name</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="series_name" id="series_name" class="form-control form-control-sm" /></td>
		</tr>

		<tr>
			<td style="white-space:nowrap">Season</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="season" id="season" class="form-control form-control-sm" /></td>
		</tr>
		<tr>
			<td style="white-space:nowrap">Episode</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="episode" id="episode" class="form-control form-control-sm" /></td>
		</tr>

		<tr>
			<td style="white-space:nowrap">Extract Length (minutes)</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="extract_length" id="extract_length" class="form-control form-control-sm" /></td>
		</tr>

		<tr>
			<td style="white-space:nowrap">Raw Bin or JSON Info</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="file" name="cp_data" id="data_file_selector" onchange="OnFileChange();" class="form-control form-control-sm"/></td>
		</tr>
		<tr>
			<td style="white-space:nowrap"></td>
			<td style="white-space:nowrap"><button style="width: 150px;" type="submit" class="form-control form-control-sm">Submit</button></td>
		</tr>

	</table>
	
	<br />

	<h4>Creating theme intro chromaprint files</h4>

<div>To create the chromaprint bin file to submit use ffmpeg.</div>
<div>The following will extract an audio chromaprint from 6:10 to 7:20 of the input video and save the raw data to a file that can be submitted in the above form.</div>
<br />
<pre>
ffmpeg
-i "path to episode video file"
-ss 00:06:10
-t 00:01:10
-ac 1
-acodec pcm_s16le
-ar 44100
-c:v nul
-f chromaprint
-fp_format raw
"path to output chromaprint file.bin"
</pre>
<br />
<div>To verify you have the correct segment of audio which includes just the intro theme music in your chromaprint you can use the following that will just save the audio as a wav file so you can play it back and verify it is the correct time segment.</div>
<br />
<pre>
ffmpeg
-i "path to episode video file"
-ss 00:06:10
-t 00:01:10
-ac 1
-acodec pcm_s16le
-ar 44100
-c:v nul
"path to output wav file.wav"
</pre>

</form>


