@{
	ViewData["Title"] = "Add Theme";
}

<style>
	div.code {
		margin: auto; 
		border: 1px solid #777777; 
		padding: 10px; 
		text-align: left; 
		width: 80%; 
		word-wrap: break-word; 
		white-space: pre-wrap; 
		word-break: break-all; 
		font-family:Consolas; 
		font-size:75%;
	}
</style>

<script>

function OnFileChange() {
    console.log("File Changed");

	const file_selector = document.querySelector("#data_file_selector");
    if (file_selector.files.length === 0) {
        alert("No Intro Info file selected");
        return;
    }

    const selected_file = file_selector.files[0];

    const file_name = selected_file.name.toLowerCase();
    if (file_name.endsWith(".json") === false) { 
        return;
	}

    const reader = new FileReader();
    reader.readAsText(selected_file, "UTF-8");

    reader.onload = (evt) => {
        console.log("Populating form from json file");

        const selected_file_string = evt.target.result;
        try {
            const cp_info_data = JSON.parse(selected_file_string);

			document.querySelector("#series_name").value = cp_info_data.series;
			document.querySelector("#imdb").value = cp_info_data.imdb;
			document.querySelector("#themoviedb").value = cp_info_data.tmdb;
			document.querySelector("#thetvdb").value = cp_info_data.tvdb;
			document.querySelector("#season").value = cp_info_data.season;
			document.querySelector("#episode").value = cp_info_data.episode;
			document.querySelector("#extract_length").value = cp_info_data.extract;
        }
        catch (e) {
            alert("Error parsing Intro Info file :\n" + e);
            return;
        }
    };
}

</script>

<h4>Add Theme</h4>

<form method="POST" action="@Url.Action("AddNewTheme", "Home")" enctype="multipart/form-data">

	<table class="table table-sm">
		<tr>
			<td style="white-space:nowrap">Imdb</td>
			<td style="white-space:nowrap; width:100%;"><input input style="width: 300px;" type="text" name="imdb" id="imdb" class="form-control form-control-sm" /></td>
		</tr>
		<tr>
			<td style="white-space:nowrap">TheMovieDB</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="themoviedb" id="themoviedb" class="form-control form-control-sm" /></td>
		</tr>
		<tr>
			<td style="white-space:nowrap">TheTvDB</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="thetvdb" id="thetvdb" class="form-control form-control-sm" /></td>
		</tr>

		<tr>
			<td style="white-space:nowrap">Series Name</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="series_name" id="series_name" class="form-control form-control-sm" /></td>
		</tr>

		<tr>
			<td style="white-space:nowrap">Season</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="season" id="season" class="form-control form-control-sm" /></td>
		</tr>
		<tr>
			<td style="white-space:nowrap">Episode</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="episode" id="episode" class="form-control form-control-sm" /></td>
		</tr>

		<tr>
			<td style="white-space:nowrap">Extract Length (minutes)</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="text" name="extract_length" id="extract_length" class="form-control form-control-sm" /></td>
		</tr>

		<tr>
			<td style="white-space:nowrap">Raw Bin or JSON Info</td>
			<td style="white-space:nowrap"><input input style="width: 300px;" type="file" name="cp_data" id="data_file_selector" onchange="OnFileChange();" class="form-control form-control-sm"/></td>
		</tr>
		<tr>
			<td style="white-space:nowrap"></td>
			<td style="white-space:nowrap"><button style="width: 150px;" type="submit" class="form-control form-control-sm">Submit</button></td>
		</tr>

	</table>
</form>

<br />

<h5>Creating theme intro files (Raw Bin or Json Info)</h5>

<h6>Json Info Files</h6>
<div>
	<p>There are a number of tools and plugins that can produce json intro info files.
	These files can be directly imported into this database using the above form.
	Just select the file and the form should auto populate with the data from the json info file.</p>
	The json intro info format:
</div>
<br />
<div class="code">{
	"series":"Series Name",
	"season":3,
	"episode":2,
	"tvdb":"TV DB ID",
	"imdb":"ImDB ID",
	"tmdb":"TheMovieDB ID",
	"extract":10,
	"cp_data":"Base64 encoded raw chromaprint data of the theme audio",
	"cp_data_length":len of chromaprint bytes,
	"cp_data_md5":"MD5 of raw chromaprint bytes"
}
</div>

<br />

<h6>Raw Bin Chromaprint Data</h6>
<div>To create the chromaprint raw bin data file to submit you can use ffmpeg directly.</div>
<div>The following parameters will extract an audio chromaprint from 6:10 to 7:20 of the input video and save the raw data to a file that can be submitted in the above form.</div>
<br />
<div class="code">ffmpeg
-i "path_to_episode_video_file.ext"
-ss 00:06:10
-t 00:01:10
-ac 1 -acodec pcm_s16le -ar 44100 -c:v nul
-f chromaprint
-fp_format raw
"path_to_output_chromaprint_file.bin"
</div>

<br />
<div>To verify you have the correct segment of audio which includes just the intro theme music in your chromaprint you can use the following that will save the audio as a wav file so you can play it back and verify it is the correct time segment.</div>
<br />

<div class="code">ffmpeg
-i "path_to_episode_video_file.ext"
-ss 00:06:10
-t 00:01:10
-ac 1 -acodec pcm_s16le -ar 44100 -c:v nul
-f wav
"path_to_output_wav_file.wav"
</div>




