@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Welcome</h4>
    <p>TV show theme audio fingerprint library</p>

    <img src="~/media/logo.png" alt="Logo" width="300" />
</div>



